<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91314597044-oovs0le21q1bl2fk82c2kt4ebir88rue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91314597044-oovs0le21q1bl2fk82c2kt4ebir88rue</string>
	<key>API_KEY</key>
	<string>AIzaSyBz3dPlreUtVg66TwmFf6Zm7WMjPeyyleU</string>
	<key>GCM_SENDER_ID</key>
	<string>91314597044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MaksymLevytskyi.SimpleChat</string>
	<key>PROJECT_ID</key>
	<string>simplechat-ad025</string>
	<key>STORAGE_BUCKET</key>
	<string>simplechat-ad025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91314597044:ios:79f9ba85e7bc2f83e37be1</string>
</dict>
</plist>